td{
    padding-right: 3rem;
}
.wind-meter{
    font-size: 18px;
}
.wind-speed{
    color: #5DADE2;
}
.cwi{
    margin-top: -2.5rem;
}
.hwi{
    width: 4rem;
}
.hwi-p {
    margin-bottom: 0rem;
    font-size: 15px;
}
.hwi-p-temp {
    margin-bottom: 0rem;
    margin-left: 0.7rem;
    font-size: 15px;
}
.weather-details{
    margin-bottom: -2rem;
}
.sunCondition .fw-lighter {
    font-size: 12px;
    text-align: center;
}
.sunCondition span {
    font-size: 1.25rem;
}
.windtime{
    padding-left: 8rem;
}
.wind-meter{
    margin-bottom: 1rem;
}
.mb-7{
    margin-bottom: 5rem;
}



